################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnityProject/.vs
/UnityProject/Library
/UnityProject/Logs
/UnityProject/obj
/UnityProject/Temp
/UnityProject/UserSettings

*.vsconfig
/UnityProject/bin
